
<%- include("partials/header"); -%>
<link rel = "stylesheet" href = "../styles/home.css">

    

    <h1>Recent Uploads<br></h1><br><br>
  <%  posts.forEach(function(post){ %>
    <div class="container">
    <h1><%=post.name%></h1>
    <p>
    <%=post.text.substring(0, 100) + " ..."%>
    <a href="/posts/<%=post._id%>">Read More</a>
    <button type="submit" class="loginbtn btn"><h3>Endorse</h3></button>  
  </div></p><br><br>
 

    <% }) %>


<%- include("partials/footer"); -%>
